@import "../../variables.scss";

.offerContainer {
  background-color: $backgroundThree;
}
.offerWrapper {
  @include wrapper;

  height: 698px;
}
.offerTitle {
  padding-top: 50px;
  margin-bottom: 80px;
  font-weight: $fontBold;
  font-size: calc($fontSize-basic * 2);
  color: $fontPrimary;
}
.offerBoxesWrapper {
  width: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  align-items: center;
}
