@import "../../variables.scss";

.footerContainer {
  background-color: $backgroundTwo;
  color: $fontPrimary;
  padding: 30px 0;
}
.footerWrapper {
  @include wrapper;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.companyName {
  font-weight: $fontBold;
  line-height: $lineHeight;
}

.icons {
  display: flex;
  gap: 15px;
  font-size: 28px;
}
